<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.batmanwatcher.digestRefresh</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>DX Trader sends shift reminders and trade alerts.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBG</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Archivo-Black.ttf</string>
		<string>Archivo-Bold.ttf</string>
		<string>Archivo-SemiBold.ttf</string>
	</array>
</dict>
</plist>
